body {
  background-color: #efedec;
}

.main-header-box {
  padding: 40px 40px 40px 40px;
  margin: 40px 40px 40px 40px;
  background-color: #cbe8c0;
  border: 1px gainsboro;
  width: 250px;
  text-align: center;
}

.menu-layout {
  background-color: #cbe8c0;
  width: 150px;
  padding: 20px 20px 20px 20px;
  margin: 40px 40px 40px 40px;
  text-align: center;
}

.link-list {
  text-align: left;
}

.border-1 {
  border-color: burlywood;
  border-width: 10px;
  border-style: solid;
  border-radius: 20px;
}

.home-page-text {
  position: relative;
  display: flex;
  justify-self: space-between;
}
